---
---

- is_embedded ||= false
.article
  %h1 
    - if is_embedded
      %a(href="#{route_path(item,false)}" title="Full article" class="permalink")= item[:title]
    - else
      = item[:title]
  
  = render('_meta', :item => item, :is_embedded => is_embedded)

  .body
    != content || partial(item)

  - if !is_embedded
    %p
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-6028115312967347";
      /* my-blog */
      google_ad_slot = "2439867305";
      google_ad_width = 468;
      google_ad_height = 60;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
