---
---

- if disqus_shortname
  .comments
    #disqus_thread
    %script{:type => "text/javascript", :charset => "utf-8"}
      //<![CDATA[
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'leonardoborges'; // required: replace example with your forum shortname
      var disqus_url = "http://www.leonardoborges.com/writings#{item.identifier}";

      // The following are highly recommended additional parameters. Remove the slashes in front to use.
      // var disqus_identifier = 'unique_dynamic_id_1234';
      // var disqus_url = 'http://example.com/permalink-to-page.html';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
      //]]>
    %noscript
      %a(href="http://disqus.com/forums/#{disqus_shortname}/?url=ref")
        View the discussion thread

  // disqus adds too much visual crap
  %style(type="text/css")
    :sass
      .dsq-dc-logo
        display: none !important
